body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../学品空间_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:245px;
    top:180px;
    width:250px;
    height:35px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:41px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:246px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../学品空间_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:245px;
    top:215px;
    width:250px;
    height:310px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:316px;
}

.u3 {
    position:absolute;
    left:2px;
    top:147px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../学品空间_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:505px;
    top:215px;
    width:430px;
    height:695px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:436px;
    height:701px;
}

.u5 {
    position:absolute;
    left:2px;
    top:340px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../学品空间_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:505px;
    top:210px;
    width:430px;
    height:5px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:436px;
    height:11px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-6px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:505px;
    top:180px;
    width:107px;
    height:31px;
    overflow:hidden;
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u9_normal {
    background-image: url('../学品空间_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u11_normal {
    background-image: url('../学品空间_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:721px;
    top:180px;
    width:107px;
    height:31px;
    overflow:hidden;
}

#pd1u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u14_normal {
    background-image: url('../学品空间_files/u11_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u16_normal {
    background-image: url('../学品空间_files/u9_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:829px;
    top:180px;
    width:107px;
    height:31px;
    overflow:hidden;
}

#pd1u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u19_normal {
    background-image: url('../学品空间_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u21_normal {
    background-image: url('../学品空间_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:613px;
    top:180px;
    width:107px;
    height:31px;
    overflow:hidden;
}

#pd1u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u24_normal {
    background-image: url('../学品空间_files/u11_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:107px;
    height:31px;
    
}

.u26_normal {
    background-image: url('../学品空间_files/u9_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:102px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../学品空间_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:945px;
    top:570px;
    width:250px;
    height:340px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:346px;
}

.u29 {
    position:absolute;
    left:2px;
    top:162px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../学品空间_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:945px;
    top:565px;
    width:250px;
    height:5px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:11px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-6px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:945px;
    top:535px;
    width:83px;
    height:31px;
    overflow:hidden;
}

#pd1u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:31px;
    
}

.u33_normal {
    background-image: url('../学品空间_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:31px;
    
}

.u35_normal {
    background-image: url('../学品空间_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:30px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:1113px;
    top:535px;
    width:83px;
    height:31px;
    overflow:hidden;
}

#pd1u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:31px;
    
}

.u38_normal {
    background-image: url('../学品空间_files/u35_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:31px;
    
}

.u40_normal {
    background-image: url('../学品空间_files/u33_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u42 {
    position:absolute;
    left:1029px;
    top:535px;
    width:83px;
    height:31px;
    overflow:hidden;
}

#pd1u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:31px;
    
}

.u43_normal {
    background-image: url('../学品空间_files/u35_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:31px;
    
}

.u45_normal {
    background-image: url('../学品空间_files/u33_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../学品空间_files/u0_normal.png');
}

.u47_container {
    position:absolute;
    left:945px;
    top:180px;
    width:250px;
    height:35px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:41px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:246px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../学品空间_files/u2_normal.png');
}

.u49_container {
    position:absolute;
    left:945px;
    top:215px;
    width:250px;
    height:310px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:316px;
}

.u50 {
    position:absolute;
    left:2px;
    top:147px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../学品空间_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:245px;
    top:535px;
    width:250px;
    height:375px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:381px;
}

.u52 {
    position:absolute;
    left:2px;
    top:180px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../学品空间_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:955px;
    top:236px;
    width:230px;
    height:269px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:269px;
}

.u54 {
    position:absolute;
    left:2px;
    top:126px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:962px;
    top:386px;
    width:25px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u56 {
    position:absolute;
    left:1058px;
    top:448px;
    width:25px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u57 {
    position:absolute;
    left:1154px;
    top:480px;
    width:25px;
    height:25px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    overflow:hidden;
}

#pd2u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    
}

.u59_normal {
    background-image: url('../头部_蒙版_files/u87_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1295px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1301px;
}

.u60 {
    position:absolute;
    left:2px;
    top:640px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../头部_蒙版_files/u89_normal.png');
}

.u61_container {
    position:absolute;
    left:895px;
    top:170px;
    width:96px;
    height:108px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:108px;
}

.u62 {
    position:absolute;
    left:2px;
    top:46px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../头部_蒙版_files/u91_normal.png');
}

.u63_container {
    position:absolute;
    left:505px;
    top:215px;
    width:430px;
    height:200px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:430px;
    height:200px;
}

.u64 {
    position:absolute;
    left:2px;
    top:92px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../头部_蒙版_files/u93_normal.png');
}

.u65_container {
    position:absolute;
    left:905px;
    top:225px;
    width:20px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:575px;
    top:260px;
    width:282px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:676px;
    top:285px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:645px;
    top:355px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../头部_蒙版_files/u98_normal.png');
}

.u70_container {
    position:absolute;
    left:770px;
    top:309px;
    width:80px;
    height:30px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u71 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../头部_蒙版_files/u98_normal.png');
}

.u72_container {
    position:absolute;
    left:770px;
    top:348px;
    width:80px;
    height:30px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u73 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    
}

.u74_normal {
    background-image: url('../头部_蒙版_files/u87_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:-6px;
    width:1440px;
    height:1295px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1301px;
}

.u75 {
    position:absolute;
    left:2px;
    top:640px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../头部_蒙版_files/u104_normal.png');
}

.u76_container {
    position:absolute;
    left:370px;
    top:140px;
    width:700px;
    height:350px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:356px;
}

.u77 {
    position:absolute;
    left:2px;
    top:167px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../头部_蒙版_files/u106_normal.png');
}

.u78_container {
    position:absolute;
    left:720px;
    top:154px;
    width:1px;
    height:322px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:322px;
}

.u79 {
    position:absolute;
    left:2px;
    top:153px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../头部_蒙版_files/u108_normal.png');
}

.u80_container {
    position:absolute;
    left:752px;
    top:196px;
    width:75px;
    height:17px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u81 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../头部_蒙版_files/u110_normal.png');
}

.u82_container {
    position:absolute;
    left:752px;
    top:242px;
    width:75px;
    height:17px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u83 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:837px;
    top:189px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:837px;
    top:235px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86_normal {
    background-image: url('../头部_蒙版_files/u114_normal.png');
}

.u86_container {
    position:absolute;
    left:957px;
    top:300px;
    width:80px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u87 {
    position:absolute;
    left:2px;
    top:5px;
    width:76px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../头部_蒙版_files/u116_normal.png');
}

.u88_container {
    position:absolute;
    left:844px;
    top:356px;
    width:118px;
    height:18px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:24px;
}

.u89 {
    position:absolute;
    left:2px;
    top:-2px;
    width:114px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../头部_蒙版_files/u118_normal.png');
}

.u90_container {
    position:absolute;
    left:962px;
    top:356px;
    width:75px;
    height:18px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:24px;
}

.u91 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../头部_蒙版_files/u120_normal.png');
}

.u92_container {
    position:absolute;
    left:1032px;
    top:95px;
    width:96px;
    height:108px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:108px;
}

.u93 {
    position:absolute;
    left:2px;
    top:46px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../头部_蒙版_files/u122_normal.png');
}

.u94_container {
    position:absolute;
    left:761px;
    top:408px;
    width:57px;
    height:30px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:36px;
}

.u95 {
    position:absolute;
    left:2px;
    top:-4px;
    width:53px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../头部_蒙版_files/u124_normal.png');
}

.u96_container {
    position:absolute;
    left:837px;
    top:408px;
    width:30px;
    height:30px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u97 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../头部_蒙版_files/u126_normal.png');
}

.u98_container {
    position:absolute;
    left:887px;
    top:408px;
    width:30px;
    height:30px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u99 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../头部_蒙版_files/u128_normal.png');
}

.u100_container {
    position:absolute;
    left:937px;
    top:408px;
    width:30px;
    height:30px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u101 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../头部_蒙版_files/u130_normal.png');
}

.u102_container {
    position:absolute;
    left:987px;
    top:408px;
    width:30px;
    height:30px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u103 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../头部_蒙版_files/u132_normal.png');
}

.u104_container {
    position:absolute;
    left:420px;
    top:195px;
    width:250px;
    height:240px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:240px;
}

.u105 {
    position:absolute;
    left:2px;
    top:112px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../头部_蒙版_files/u134_normal.png');
}

.u106_container {
    position:absolute;
    left:1041px;
    top:148px;
    width:20px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:1441px;
    height:1296px;
    
}

.u108_normal {
    background-image: url('../头部_蒙版_files/u87_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:1295px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:1301px;
}

.u109 {
    position:absolute;
    left:2px;
    top:640px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../头部_蒙版_files/u120_normal.png');
}

.u110_container {
    position:absolute;
    left:1032px;
    top:95px;
    width:96px;
    height:108px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:108px;
}

.u111 {
    position:absolute;
    left:2px;
    top:46px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../头部_蒙版_files/u104_normal.png');
}

.u112_container {
    position:absolute;
    left:370px;
    top:140px;
    width:700px;
    height:350px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:356px;
}

.u113 {
    position:absolute;
    left:2px;
    top:167px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../头部_蒙版_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:957px;
    top:300px;
    width:80px;
    height:30px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u115 {
    position:absolute;
    left:2px;
    top:5px;
    width:76px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../头部_蒙版_files/u122_normal.png');
}

.u116_container {
    position:absolute;
    left:761px;
    top:408px;
    width:57px;
    height:30px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:36px;
}

.u117 {
    position:absolute;
    left:2px;
    top:-4px;
    width:53px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../头部_蒙版_files/u116_normal.png');
}

.u118_container {
    position:absolute;
    left:844px;
    top:356px;
    width:118px;
    height:18px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:24px;
}

.u119 {
    position:absolute;
    left:2px;
    top:-2px;
    width:114px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../头部_蒙版_files/u118_normal.png');
}

.u120_container {
    position:absolute;
    left:962px;
    top:356px;
    width:75px;
    height:18px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:24px;
}

.u121 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../头部_蒙版_files/u106_normal.png');
}

.u122_container {
    position:absolute;
    left:720px;
    top:154px;
    width:1px;
    height:322px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:322px;
}

.u123 {
    position:absolute;
    left:2px;
    top:153px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../头部_蒙版_files/u110_normal.png');
}

.u124_container {
    position:absolute;
    left:752px;
    top:242px;
    width:75px;
    height:17px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u125 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../头部_蒙版_files/u108_normal.png');
}

.u126_container {
    position:absolute;
    left:752px;
    top:196px;
    width:75px;
    height:17px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:23px;
}

.u127 {
    position:absolute;
    left:2px;
    top:-2px;
    width:71px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:837px;
    top:189px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u129 {
    position:absolute;
    left:837px;
    top:235px;
    width:200px;
    height:30px;
    ;
    background-color:#DFE0E0;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u130_normal {
    background-image: url('../头部_蒙版_files/u124_normal.png');
}

.u130_container {
    position:absolute;
    left:837px;
    top:408px;
    width:30px;
    height:30px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u131 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../头部_蒙版_files/u126_normal.png');
}

.u132_container {
    position:absolute;
    left:887px;
    top:408px;
    width:30px;
    height:30px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u133 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../头部_蒙版_files/u128_normal.png');
}

.u134_container {
    position:absolute;
    left:937px;
    top:408px;
    width:30px;
    height:30px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u135 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../头部_蒙版_files/u130_normal.png');
}

.u136_container {
    position:absolute;
    left:987px;
    top:408px;
    width:30px;
    height:30px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u137 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../头部_蒙版_files/u132_normal.png');
}

.u138_container {
    position:absolute;
    left:420px;
    top:195px;
    width:250px;
    height:240px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:240px;
}

.u139 {
    position:absolute;
    left:2px;
    top:112px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../头部_蒙版_files/u134_normal.png');
}

.u140_container {
    position:absolute;
    left:1041px;
    top:148px;
    width:20px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../头部_蒙版_files/u170_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:75px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:75px;
}

.u143 {
    position:absolute;
    left:2px;
    top:30px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../头部_蒙版_files/u172_normal.png');
}

.u144_container {
    position:absolute;
    left:505px;
    top:75px;
    width:100px;
    height:30px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u145 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:615px;
    top:75px;
    width:101px;
    height:101px;
    overflow:hidden;
}

#pd1u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

.u147_normal {
    background-image: url('../头部_蒙版_files/u175_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u148 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:0px;
    top:30px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:0px;
    top:50px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:0px;
    top:70px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

#u152 {
    position:absolute;
    left:725px;
    top:75px;
    width:101px;
    height:101px;
    overflow:hidden;
}

#pd1u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

.u153_normal {
    background-image: url('../头部_蒙版_files/u175_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u154 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:0px;
    top:30px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:0px;
    top:50px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:0px;
    top:70px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

#u158 {
    position:absolute;
    left:835px;
    top:75px;
    width:101px;
    height:101px;
    overflow:hidden;
}

#pd1u158 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

.u159_normal {
    background-image: url('../头部_蒙版_files/u175_normal.png');
}

.u159_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:106px;
}

.u160 {
    position:absolute;
    left:2px;
    top:42px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:0px;
    top:30px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:0px;
    top:50px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:0px;
    top:70px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u158 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:101px;
    
}

.u164_normal {
    background-image: url('../头部_蒙版_files/u172_normal.png');
}

.u164_container {
    position:absolute;
    left:615px;
    top:75px;
    width:100px;
    height:30px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u165 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../头部_蒙版_files/u172_normal.png');
}

.u166_container {
    position:absolute;
    left:725px;
    top:75px;
    width:100px;
    height:30px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u167 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../头部_蒙版_files/u172_normal.png');
}

.u168_container {
    position:absolute;
    left:835px;
    top:75px;
    width:100px;
    height:30px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u169 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../头部_蒙版_files/u198_normal.png');
}

.u170_container {
    position:absolute;
    left:505px;
    top:22px;
    width:430px;
    height:32px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:430px;
    height:32px;
}

.u171 {
    position:absolute;
    left:2px;
    top:8px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../头部_蒙版_files/u200_normal.png');
}

.u172_container {
    position:absolute;
    left:904px;
    top:28px;
    width:21px;
    height:21px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u174 {
    position:absolute;
    left:251px;
    top:0px;
    width:130px;
    height:75px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u175 {
    position:absolute;
    left:1050px;
    top:22px;
    width:61px;
    height:33px;
    overflow:hidden;
}

#pd0u175 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:33px;
    
}

.u176_normal {
    background-image: url('../头部_蒙版_files/u204_normal.png');
}

.u176_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:32px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:38px;
}

.u177 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u178 {
    position:absolute;
    left:1120px;
    top:22px;
    width:61px;
    height:33px;
    overflow:hidden;
}

#pd0u178 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:33px;
    
}

.u179_normal {
    background-image: url('../头部_蒙版_files/u204_normal.png');
}

.u179_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:32px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:38px;
}

.u180 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u181 {
    position:absolute;
    left:519px;
    top:28px;
    width:376px;
    height:21px;
    overflow:hidden;
}

#pd1u181 {
    position:absolute;
    left:0px;
    top:0px;
    width:376px;
    height:21px;
    
}

.u182 {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u181 {
    position:absolute;
    left:0px;
    top:0px;
    width:376px;
    height:21px;
    
}

.u183 {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u184 {
    position:fixed;
    left: 50%;
    margin-left: -475px;
    bottom:0px;
    width:951px;
    height:151px;
    overflow:hidden;
}

#pd0u184 {
    position:absolute;
    left:0px;
    top:0px;
    width:951px;
    height:151px;
    
}

